<div class="container">
   
        <div class="row mt-5">
            <div class="col-sm-6 offset-sm-3 card bg-light p-5">
    <form method="post" action="?pagina=admin&metodo=insert">

      <h3 class="text-center">Criar Publicação</h3>
     
       <labe class="form-label">Título</label><br>
       <input type="'text" name="titulo" placeholder="Insira um título "><br><br>

       <span>Conteudo</span><br>
       <textarea name="conteudo" cols="30" rows="15"></textarea><br><br>

   
      <i class="fa-solid fa-share-from-square"></i> <input type="submit" value="cadastrar" button type="button" class="btn btn-outline-primary"></button> 


    
    

     </form>

</div>