
    <h3 class="text-center">Sobre</h3>

<p class="text-center col-mg-2">Desenvolvimento é toda ação ou efeito relacionado com o processo de crescimento, evolução de um objeto, pessoa ou situação em uma determinada condição</p>
<p class="text-center">O desenvolvimento também pode estar relacionado com o progresso e a melhoria positiva de um determinado lugar, como uma cidade ou um país!</p>
<p class="text-center">O desenvolvimento também pode estar relacionado com o progresso e a melhoria positiva de um determinado lugar, como uma cidade ou um país</p>
<p class="text-center">O ato de se desenvolver resulta na ação de estar apto para o próximo passo, direção, indicação ou etapa superior a que se encontra na fase atual</p>


   
     




